<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/spendquest_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/spendquest_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpendQuest">

        <!-- LAUNCHER — SplashActivity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".SetupActivity"
            android:exported="false" />

        <activity
            android:name=".DemoSetupActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".LogExpenseActivity"
            android:exported="false" />

    </application>

</manifest>